.header {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 1px #ececec;
}

.logo-link__studio {
  color: #212121;
}
.logo-link--header-margin {
  margin-top: 24px;
  margin-bottom: 24px;
}

.contact {
  margin-top: 9px;
}
