.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}
.contact__item {
  &:not(:first-child) {
    margin-left: 50px;
  }
}
.logo-cont {
  height: 12px;
  justify-content: center;
}
.contact__mail,
.contact__tell {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: $contact-color;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}
